body .fc-dialog-container,
body .vm-placement,
body .vm-footer-content,
body #banner-container,
body .css-suuv7k.eueu5cy3,
body .css-1myjs2c.e1zvoak3,
#__next iframe,
.desktop-header nav
{
    display: none;
}

body .tier-and-cover-img {
    scale: 1.15;
    margin-left: -30px;
    margin-bottom: 10px;
}

body .team-and-rank .team {
    margin-left: 10px;
    scale: 1.2;
}

body .team-and-rank {
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    scale: 1.1;
}

.profile-icon img {
    scale: .9;
    margin-top: 30px;
    margin-right: 20px;
}

.header-profile-info {
    margin-left: 20px;
}

span.level {
    scale: 1.2;
    z-index: 99;
}